<div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          
          <div class="d-flex justify-content-center align-items-center vh-100">
          <div class="card p-4 shadow" style="width: 400px;">
          <%= stylesheet_link_tag "bootstrap.min", media: "all" %>
              <!-- /Logo -->
              <h4 class="mb-2">Welcome to blog app</h4>
              <p class="mb-4">Please sign-in to your account and start the adventure</p>
               
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mb-3" }) do |f| %>

                <div class="mb-3">
                  <%= f.label :email, "Email or Username", class: "form-label" %>
                  <%= f.email_field :email, class: "form-control", placeholder: "Enter your email", autofocus: true %>
                </div>
              
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <%= f.label :password, class: "form-label" %>
                    <%= link_to "Forgot Password?", new_password_path(resource_name) %>
                  </div>
              
                  <div class="input-group input-group-merge">
                    <%= f.password_field :password, class: "form-control", placeholder: "••••••••" %>
                    <span class="input-group-text cursor-pointer">
                      <i class="bx bx-hide"></i>
                    </span>
                  </div>
                </div>
              
                <div class="mb-3">
                  <%= f.submit "Sign in", class: "btn btn-primary d-grid w-100" %>
                </div>
              

                #for google authentication
                <div class="text-center my-3">
                   <span>or</span>
                      </div>

                        <div class="d-grid mb-3">
                     <%= link_to user_google_oauth2_omniauth_authorize_path,
                    class: "btn btn-danger d-flex align-items-center justify-content-center" do %>
    
                         <i class="bx bxl-google me-2"></i>
                            Sign in with Google
    
                        <% end %>
                     </div>



              <% end %>
              
              <p class="text-center">
                <span>New on our platform?</span>
                <%= link_to "Create an account", new_registration_path(resource_name) %>
                  <span></span>
                </a>
              </p>
            </div>
          </div>